venv/
app/__pycache__/
instance/*
*.db
migrations/
exercises/*
__pycache__/
myenv/

# Cápsulas (para mantener secreto)
backend/dockerfiles/*
backend/app/__pycache__/
backend/instance/*
backend/migrations/

.env
.env.prod